* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
a{
  text-decoration: none;
  cursor: pointer;
}

.swal2-popup {
  font-size: 1rem !important;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
}

.navbar {
  background-color: #262636;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.logo {
  width: 10%;
  height: 10%;
  background-color: #262636;
}

.dropbtn {
  background-color: unset;
  margin: 20px 47px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: unset;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  border-radius: 10px;
  background-color: #262636;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  cursor: pointer;
  font-size: 20px;
  background-color: unset;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin: auto;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  display: block;
}

.home, .share, .lang{
  background-color:unset;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  background-color: #13131b;
}

main{
  background-color: #181828;
  display: flex;
  justify-content: space-around;
  padding: 2rem auto;
  margin-top: 4rem;
}

model-viewer {
  width: 100%;
  height: 70vh;
  --poster-color: #181828;
  background-color: #181828;
}

h1 {
  text-align: center;
  color: #BF9663;
  font-size: 3.5rem;
  font-weight:900;
  background-color: #262636;
  font-family: 'Questrial', sans-serif;
}

h2 {
  text-align: center;
  background-color: #262636;
  font-family: 'Montserrat', sans-serif;
}

p {
  text-align: center;
  background-color: #262636;
  font-family: 'Montserrat', sans-serif;
}

.text-container{
  display: flex;
  padding: 3rem 8rem;
  width: 75%;
  background-color: #181828;
}

.texts {
  background-color: #262636;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 1.5rem;
}

.texts h2{
  background-color: #262636;
}

.description{
  background-image: linear-gradient(45deg,#BF9663,#3068D9);
  border-radius: 10px;
  padding: 1rem;
}

.middle{
  background-color: #181828;
  display: flex;
  padding: 8rem;
  justify-content: center;
}

.middle-text{
  background-color: #181828;
  border-radius: 15px;
  width: 93%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}

strong{
  color: #BF9663;
  background-color: #181828;
}

.middle-text h1, h2{
  background-color: #181828;
  font-family: 'Montserrat', sans-serif;
  border-radius: 15px;
}

.grid{
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
  background-color: #181828;
  
}

.grid-h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color:#BF9663;
  font-weight: 900;
  background-color:#262636;
}

.glider-top{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 3rem;
  border-radius: 15px;
  width: 93%;
  height: 60vh;
  background-color:#262636;
}

.glider-contain{
  display: flex;
  align-items: center;
}

.card{
  padding: 0.5rem;
}

.card p{
  background-image: linear-gradient(45deg,#BF9663,#3068D9);
  border-radius: 10px;
  padding: 1rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img{
  border-radius: 10px;
}

footer {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #262636;
}

footer p{
  background-color: #262636;
}

.info{
  font-size: 30px;
}

@media screen and (min-width:320px) and (max-width: 500px){
  .dropbtn{
    margin: 20px;
  }

  .dropdown-content{
    min-width: 70px;
  }

  .logo {
    width: 40%;
  }

  main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
  }
  
  p {
    font-size: 20px;
  }
  
  .text-container{
    padding: 1rem;
    width: 100%;
    height: 70vh;
  }

  .middle{
    display: flex;
    justify-content: center;
    padding: 0%;
  }
  
  .middle-text{
    
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .grid{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
  }

  .grid h2{
    font-size: 30px;
  }
  
  .glider-prev, .glider-next{
    display: none;
  }

  .glider-top{
    padding: 1rem;
    border-radius: 15px;
    width: 95%;
    height: 40vh;
  }
  
  .card{
    padding: 0.1rem;
  }
  
  .card p{
    background-image: linear-gradient(45deg,#BF9663,#3068D9);
    border-radius: 10px;
    padding: 1rem;
    height: 15vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card img{
    border-radius: 10px;
  }

  footer p{
    font-size: 1rem;
  }
  
}

@media screen and (min-width:500px) and (max-width: 840px){

  .dropbtn{
    margin: 20px 40px;
  }

  .logo {
    width: 25%;
  }

  main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
  }
  
  p {
    font-size: 20px;
  }
  
  .text-container{
    padding: 1rem;
    width: 70%;
    height: 40vh;
  }

  .middle{
    display: flex;
    justify-content: center;
    padding: 0%;
  }
  
  .middle-text{
    
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .grid{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
  }

  .grid h2{
    font-size: 30px;
  }
  
  .glider-prev, .glider-next{
    display: none;
  }

  .glider-top{
    padding: 1rem;
    border-radius: 15px;
    width: 95%;
    height: 35vh;
  }
  
  .card{
    padding: 0.1rem;
  }
  
  .card p{
    background-image: linear-gradient(45deg,#BF9663,#3068D9);
    border-radius: 10px;
    padding: 1rem;
    height: 7vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card img{
    border-radius: 10px;
  }

  footer p{
    font-size: 1rem;
  }

}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5),
    0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(assets/images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #262636;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:white;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: none;
}

#ar-button:active {
  background-color: #e8eaed;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}
@media only screen and (max-width: 500px) {
}
